/*Variables*/
:root {
  --text: rgb(25, 31, 36); /* Charcoal gray */
  --tile: rgb(243, 246, 246); /* platinum white */
  --background: #EFE9E3; /*offwhite*/
}
/*reset*/
body,p,a,ul,li{
    margin:0; 
    padding:0; 
    text-decoration: none;
}
li {
    list-style-type: none;
}

/*fonts*/

@font-face {
    font-family: 'Sans 3';
    src: url(Source_Sans_3/SourceSans3-VariableFont_wght.ttf);
}

h1,h2,h3,h4{
    color:rgb(45, 56, 66); 
    font-weight: normal;

}

h2{
    font-size: 1.2em;
    text-align: center; 
}

p,a,li {
    color: rgb(14, 14, 15); 
    list-style: square;
    line-height: 1.5; 

}
#Heading-tile{
    grid-column: 1 / -1; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase; 
    font-size: clamp(1rem, calc(1rem + 2vw), 3rem);
    background-image: url(images/stone_ID.jpg); 
    background-size: cover; 
    background-position: center; 
    text-align: center;  
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
    /*check responsiveness*/
} 
body{
    background-color: var(--background);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: var(--text);  
    overflow-x: hidden; /*prevents users from needing to scroll over to view an entire image...and more*/
    font-family: 'Sans 3';
    
}

.button{
    background: none; 
    /* //default background for a button is white */
    border: 2px solid var(--text);
    color: var(--text); 
    /* //color of the text inside the button  */
    padding: 6px 12px; 
    /* //6px top and bottom, 12px left and right */
    border-radius: 20px; 
    /* //rounds the edges of the button */
    text-transform: uppercase; 
    /* //makes the text inside the button uppercase */
    box-shadow: 1 px 2 px 3 px rgba(0,0,0,0.6); 
    /* //gives the button a tiny drop shadow not sure how */
    display: inline-block; 

}
.button:hover{
    /* consider how to implement a button for light mode vs dark mode */
    background: var(--text); 
    color: rgb(211, 211, 211); 
}    
img, picture, video{ /*ensures that none of these elements overflow 
    the size of their container*/
    max-width: 100%;
}
/*grid formatting*/

.container1 { 
    display: grid; 
    grid-template-columns: repeat(12,1fr); 
    margin-left: auto; 
    margin-right: auto;
    max-width: 100%;
    gap: 16px; 
    
}
#weather-box{
    grid-column: 2/12;
    grid-row: 1; 
}
#Uno-art{
    grid-column: 2/12;
    grid-row: 2; 
}
#safe-tip{
    grid-column: 2/9;
    grid-row: 3;
    background-color: #FF5F15;
}
#Tech-updates{
    grid-column: 9/12;
    grid-row: 3; 

}
#company-bonuses{
    grid-column: 2/12;
    grid-row: 4; 
    
}
#Payroll{
    grid-column: 2/12;
    grid-row: 5; 

}
#Health{
    grid-column: 2/12;
    grid-row: 6; 

}
#Company-Links{
    grid-column: 2/12;
    grid-row: 7; 
    list-style: none;

}

#Team-merch{
    grid-column: 2/7; 
    grid-row: 8; 

}
.tile{
    background-color: var(--tile);
    padding: 32px;
    } 
/*small tablet styles*/
@media screen and (min-width: 620px ){
    body{
        font-size: 20 px; 
    }
    
}
/*large tablet and laptop styles*/
@media screen and (mid-width: 960px){
    body{
        font-size: 24 px; 
    }
    
}
/*desktop styles*/
@media screen and (mid-width: 1200px){
    body{
        font-size: 32 px; 
    }
}
@media (prefers-color-scheme:dark) {
    :root{
        --text: rgb(243, 246, 246); /* platinum white */
        --background:  rgb(25, 31, 36); /* charcoal grey */
    }
    .body {
        background-color: var(--background);
        color: var(--text); 
    } 
    h1,h2,h3,h4 {
        color:rgb(201, 230, 255); 
    }
    p,a,li {
    color: rgb(247, 244, 231); 
    }
    .tile {
        background-color: #000000;
    }
    
}
