:root {
  --text: rgb(25, 31, 36); /* Charcoal gray */
  --background: rgb(243, 246, 246); /* platinum white */
  --tile: #EFE9E3; /*offwhite*/
}
body{
    background-color: var(--background);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    color: var(--text);  
}
.container{
    display: flex; 
    margin-left: auto; 
    margin-right: auto;
    flex-flow:column wrap; /*allows the flex to wrap over multiple lines*/
    max-width: 80%;
    gap: 16px; 
}
#weather-box{
    order: 1; 
}
#Uno-art{
    order: 2; 
}
#emp-spot{
    order: 3; 
}
.employee-photo{
    max-height: 25%; 
}
#news-feed{
    order: 4; 
}
#calendar{
    order: 5; 
}
#mech-tip{
    order: 6;
}
#recipe{
    order: 7; 
}
#DOT-spot{
    order: 8; 
}
#safe-tip{
    order: 9; 

}
.tile{
    background-color: var(--tile);
    padding: 8px;
    }
#Heading-tile{
    grid-column: 1 / -1; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase; 
    font-size: clamp(1rem, calc(1rem + 2vw), 3rem);
    background-image: url(images/stone_ID.jpg); 
    background-size: cover; 
    background-position: center; 
    text-align: center;  
    -webkit-background-clip: text;
    background-clip: text; 
    color: transparent;
}    

@media (prefers-color-scheme:dark) {
    :root{
        --text: rgb(243, 246, 246); /* platinum white */
        --background:  rgb(25, 31, 36); /* charcoal grey */
    }
    .body {
        background-color: var(--background);
        color: var(--text); 
    } 
    .tile {
        background-color: #000000;
    }
    
}
